Link{
  color: black;
}

.mycard{
  margin: 2.5%;
  width: 95%;
  background-color: rgb(226, 162, 43);
  
  
}

.logincard{
   padding: 10px;
   text-align: center;
   
}


.signupcard{
  padding: 10px;
  text-align: center;
  background-color: aquamarine;
  
}

.profileimg{
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin:auto 10px ;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.items{
  width:20%;
  margin: 5px;
}


.home-card{
  width:500px ;
  height: max-content;
  margin: 26px auto;
  
}

.input-field{
   height: 500px;
   margin: 20px 10%;
  justify-content: space-around;
  text-align: center;
}